@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

:root {
  --color-dark-blue: rgb(0, 151, 240);
  --color-grey: rgb(249, 249, 249);
  --color-light-blue: rgba(0, 152, 240, 0.42);
  --color-light-grey: rgba(68, 68, 68, 0.805);
  --color-dark-grey: rgba(212, 209, 209, 0.398);
}

article {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

article {
  height: 100vh;
  background-color: var(--color-grey);
}

.login-article form {
  height: 40rem;
  background-color: #fff;
  border: 0.05rem solid rgba(0, 0, 0, 0.192);
  padding: 1rem 4rem;
  width: 26vw;
}

.login-article form h1 {
  font-family: "Satisfy", cursive;
  font-size: 4rem;
  text-align: center;
  padding: 3rem 0;
}

.login-article form div {
  display: flex;
  flex-direction: column;
  position: relative;
}

.login-article form label {
  font-size: 1.5rem;
  color: var(--color-light-grey);
  cursor: text;
  padding: 0 0.5rem;
  cursor: text;
  position: absolute;
  top: 35%;
  transition: all 100ms ease-in;
}

.login-article form label.move {
  font-size: 1.2rem;
  cursor: pointer;
  transform: translateY(-52%);
}

.login-article form input {
  height: 4rem;
  padding: 0 0.5rem;
  margin: 0.5rem 0;
  background-color: var(--color-dark-grey);
  border: 0.05rem solid rgba(0, 0, 0, 0.192);
  padding-top: 0.7rem;
}

.login-article button {
  width: 100%;
  margin-top: 2rem;
  padding: 0.5rem 2rem;
  cursor: pointer;
  background-color: var(--color-dark-blue);
  border: none;
  color: white;
}

.login-article button:disabled {
  background-color: var(--color-light-blue);
}

.login-article footer {
  padding-top: 2rem;
  font-size: 1.5rem;
  text-align: center;
}

.login-article footer a {
  text-decoration: none;
  color: var(--color-dark-blue);
}

.login-article form label {
}
