.loading-screen {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loading-screen img {
  margin-top: auto;
  width: 6rem;
  height: auto;
}

.loading-screen .github-icon {
  width: 1.5rem;
}

.loading-screen footer {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
  padding-bottom: 0.5rem;
}

.loading-screen a {
  text-decoration: none;
  font-size: 1.7rem;
  color: var(--color-instagram-red);
}
