@media (max-width: 900px) {
  .profile-section .bottom-section .posts,
  .profile-section .bottom-section .saved {
    row-gap: 0.3rem;
    align-items: center;
  }
  .profile-section .bottom-section .posts img,
  .profile-section .bottom-section .saved img {
    width: 100%;
    height: 15rem;
  }
  .top-section {
    gap: 2rem;
  }
  .top-section .right .top h3 {
    font-size: 2rem;
  }
  .top-section .right .middle p {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .top-section .right .middle {
    gap: 1.5rem;
  }
  .top-section .right .top button {
    font-size: 1.2rem;
  }
  .top-section .right .bottom {
    font-size: 1.5rem;
  }
}
