.profile-section {
  background-color: var(--color-grey);
  min-height: 100vh;
}

.top-section {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 10rem;
  border-bottom: 0.2rem solid var(--color-dark-grey);
  max-width: 95rem;
  margin: 0 auto;
  padding: 2rem 5rem;
}

.top-section img {
  width: 15rem;
  height: auto;
  border: 0.2rem solid var(--color-dark-grey);
  border-radius: 50%;
}

.top-section .right {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.top-section .right .top {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.top-section .right .top h3 {
  font-size: 3rem;
}

.top-section .right .top button {
  cursor: pointer;
  padding: 0.5rem 1rem;
  border: 0.2rem solid var(--color-dark-grey);
  background-color: transparent;
  border-radius: 0.5rem;
  font-size: 1.5rem;
}

.top-section .right .top button.follow-btn {
  background-color: var(--color-dark-blue);
  font-weight: bold;
  color: var(--color-white);
  border: none;
  padding-left: 2rem;
  padding-right: 2rem;
}

.top-section .right .top button.unfollow-btn {
  display: flex;
  align-items: center;
  padding: 0.4rem 3rem;
}

.top-section .right .top button.follow-btn:disabled {
  background-color: var(--color-light-blue);
}

.top-section .right .middle {
  display: flex;
  gap: 2.5rem;
}

.top-section .right .middle span {
  font-weight: bold;
}

.top-section .right .middle p {
  font-size: 1.8rem;
}

.top-section .right .bottom {
  font-size: 1.8rem;
}

.top-section .right .bottom p:first-child {
  font-weight: bold;
}

.bottom-section .tags {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.bottom-section .posts,
.bottom-section .saved {
  max-width: 92rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 1rem;
}

.bottom-section .tags li {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  font-size: 1.5rem;
  color: var(--color-light-grey);
  padding: 1.5rem 0;
  cursor: pointer;
}

.bottom-section .tags li.active {
  border-top: 0.15rem solid var(--color-black);
  color: var(--color-black);
}

a {
  color: black;
}

button:disabled {
  cursor: auto;
}

button.message {
  font-weight: bold;
}

.profile-section .bottom-section .posts img,
.profile-section .bottom-section .saved img {
  width: 29.2rem;
  height: 29.2rem;
  background-color: var(--color-black);
  cursor: pointer;
}
