nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  padding: 1rem 7rem;
  border-bottom: 0.2rem solid var(--color-dark-grey);
  max-width: 100%;
  /* sticky nav bar */
  position: sticky;
  top: 0;
  background-color: var(--color-white);
}

nav .logo {
  font-size: 2.8rem;
  font-family: "Satisfy", cursive;
}

nav .nav-links {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: black;
}

/* for dropdown */
nav .profile-container {
  position: relative;
}

nav .profile-container img,
nav img.github-logo {
  height: 2.9rem;
  border: 0.2rem solid black;
  border-radius: 50%;
}

nav img.github-logo {
  padding: 0.2rem;
}

nav .profile-image {
  height: 3rem;
  padding: 0.2rem;
  cursor: pointer;
}

nav .profile-image:last-child {
  border: 0.2rem solid var(--color-black);
  border-radius: 10rem;
}

nav .profile-container .dropdown {
  position: absolute;
  top: 130%;
  left: -620%;
  display: flex;
  flex-direction: column;
  width: 20rem;
  height: 16rem;
  background-color: var(--color-white);
  font-size: 1.5rem;
  font-weight: lighter;
  border-radius: 0.5rem;
  box-shadow: 5px 2px 5px 3px var(--color-dark-grey);
  z-index: 1;
}

nav .profile-container .dropdown li {
  padding: 0.6rem 1rem;
  height: 4rem;
}

nav .profile-container .dropdown li:hover {
  background-color: rgba(212, 209, 209, 0.132);
}

nav .profile-container .dropdown li a {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

nav .profile-container .dropdown li:last-child {
  display: flex;
  align-items: center;
  border-top: 0.1rem solid black;
  cursor: pointer;
}

/* sign out button */
nav .profile-container .dropdown li button {
  border: none;
  background-color: transparent;
  width: 100%;
  text-align: left;
  cursor: pointer;
}

nav button.add-post-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

/* forceful hide */
.dropdown.hide {
  display: none !important;
}

/* add a new post container */
div.add-new-post {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

div.background-overlay {
  background-color: var(--color-light-grey);
  width: 100%;
  height: 100%;
}

div.add-new-post-container,
div.add-new-post-loading-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-white);
  width: 40%;
  height: 80%;
  border-radius: 2rem;
}

div.stage-two {
  width: 60%;
  height: 70%;
}

div.stage-two .top,
div.add-new-post-container .top,
div.add-new-post-loading-container .top {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.2rem solid var(--color-dark-grey);
}

div.add-new-post-loading-container .top {
  justify-content: center;
  padding: 1.5rem 0;
  font-size: 1.5rem;
}

div.add-new-post-loading-container div.ig-loading-circle {
  width: 10rem;
  height: 10rem;
  background-color: none;
  border: 0.6rem solid rgb(223, 30, 160);
  border-radius: 50%;
}

div.add-new-post-loading-container img {
  width: 10rem;
}

div.add-new-post-loading-container .below {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80%;
}

div.add-new-post-container h3,
div.add-new-post-loading-container p {
  text-align: center;
  font-size: 2rem;
  padding: 1rem 0;
}

div.add-new-post-container button {
  background-color: var(--color-dark-blue);
  padding: 0.7rem 2rem;
  color: var(--color-white);
  font-weight: bold;
  font-size: 1.4rem;
  border-radius: 0.5rem;
  cursor: pointer;
  border: none;
}

div.add-new-post-container button:disabled {
  background-color: var(--color-light-blue);
  cursor: auto;
}

button.close-modal-btn {
  position: absolute;
  background-color: transparent;
  border: none;
  left: 95%;
  top: 3%;
  cursor: pointer;
}

div.add-new-post-container .below {
  display: flex;
  height: 90%;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
}

input[type="file"] {
  display: none;
}

div.below-image,
div.post-upload-complete {
  display: flex;
}

div.post-upload-complete {
  flex-direction: column;
  align-items: center;
  transform: translateY(130%);
  gap: 1rem;
  font-size: 1.8rem;
}

div.below-image img.postedImage {
  width: 50rem;
  height: 46rem;
  border-bottom-left-radius: 1.9rem;
}

div.below-image img.postProfileImage {
  width: 3rem;
}

div.below-image input {
  height: 70%;
  display: none;
}

div.below-image textarea {
  border-bottom-right-radius: 2rem;
  height: 100%;
  border: none;
  outline: none;
  padding: 0.9rem 1rem;
}

div.stage-two .top button.share,
div.add-new-post-container .top button.next {
  color: var(--color-dark-blue);
  border: none;
  background-color: transparent;
}

div.right-side {
  width: 40%;
}

div.right-side .poster {
  padding: 0 0.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 2rem;
}

div.add-new-post-container .below .loader,
p.upload-done-loader {
  position: absolute;
  top: 70%;
  left: 45%;
  width: 5rem;
  height: 5rem;
  border: 5px solid var(--color-dark-blue);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

p.upload-done-loader {
  top: 45%;
  left: 40%;
  width: 10rem;
  height: 10rem;
  border: 5px solid var(--color-instagram-red);
  border-bottom-color: transparent;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
