nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  padding: 1rem 17rem;
  border-bottom: 0.2rem solid var(--color-dark-grey);
  /* sticky nav bar */
  position: sticky;
  top: 0;
  background-color: var(--color-white);
}

nav .logo {
  font-size: 2.8rem;
  font-family: "Satisfy", cursive;
}

nav .nav-links {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: black;
}

/* for dropdown */
nav .profile-container {
  position: relative;
}

nav .profile-container img {
  height: 2.5rem;
}

nav .profile-image {
  height: 3rem;
  padding: 0.2rem;
  cursor: pointer;
}

nav .profile-image:last-child {
  border: 0.2rem solid var(--color-black);
  border-radius: 10rem;
}

nav .profile-container .dropdown {
  position: absolute;
  top: 130%;
  left: -620%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 20rem;
  height: 18rem;
  background-color: var(--color-white);
  font-size: 1.5rem;
  font-weight: lighter;
  border-radius: 0.5rem;
  box-shadow: 5px 2px 5px 3px var(--color-dark-grey);
  z-index: 1;
}

nav .profile-container .dropdown li {
  padding: 0.6rem 1rem;
}

nav .profile-container .dropdown li:hover {
  background-color: rgba(212, 209, 209, 0.132);
}

nav .profile-container .dropdown li a {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

nav .profile-container .dropdown li:last-child {
  border-top: 0.1rem solid black;
  cursor: pointer;
}

/* forceful hide */
.dropdown.hide {
  display: none !important;
}
