@media (max-width: 913px) {
  nav {
    padding: 1rem 2rem;
  }
  div.add-new-post-container,
  div.add-new-post-loading-container {
    width: 85%;
    height: 60%;
  }
  button.close-modal-btn {
    left: 90%;
  }
  p.upload-done-loader {
    left: 85;
  }
  div.below-image img.postedImage {
    display: none;
  }
  div.right-side {
    width: 100%;
  }
  div.below-image textarea {
    height: 70%;
  }
}
