article.signup-article {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  height: 100vh;
  background-color: var(--color-grey);
}

.signup-article form {
  height: 55rem;
  background-color: #fff;
  border: 0.05rem solid rgba(0, 0, 0, 0.192);
  padding: 0.5rem 4rem;
  width: 26vw;
}

.signup-article form h1 {
  font-family: "Satisfy", cursive;
  font-size: 4rem;
  text-align: center;
  padding: 3rem 0;
}

.signup-article form div {
  display: flex;
  flex-direction: column;
  position: relative;
}

.signup-article form legend {
  font-size: 1.7rem;
  text-align: center;
  color: var(--color-light-grey);
  margin-bottom: 2rem;
  font-weight: bolder;
}

.signup-article form label {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 1.5rem;
  color: var(--color-light-grey);
  cursor: text;
  padding: 0 0.5rem;
  cursor: text;
  position: absolute;
  top: 35%;
  transition: all 100ms ease-in;
}

.signup-article form label.move {
  font-size: 1.2rem;
  cursor: pointer;
  transform: translateY(-52%);
}

.signup-article form label img {
  width: auto;
  height: 1.8rem;
  cursor: pointer;
  transform: translateY(45%);
}

.show-password {
  color: var(--color-black);
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 86%;
  font-size: 1.5rem;
}

.signup-article form input {
  height: 4rem;
  padding: 0 0.5rem;
  margin: 0.5rem 0;
  background-color: var(--color-dark-grey);
  border: 0.05rem solid rgba(0, 0, 0, 0.192);
  padding-top: 0.7rem;
}

.signup-article button {
  width: 100%;
  margin-top: 2rem;
  padding: 0.5rem 2rem;
  cursor: pointer;
  background-color: var(--color-dark-blue);
  border: none;
  color: white;
}

.signup-article button:disabled {
  background-color: var(--color-light-blue);
}

.signup-article footer {
  padding-top: 2rem;
  font-size: 1.5rem;
  text-align: center;
}

.signup-article footer a {
  text-decoration: none;
  color: var(--color-dark-blue);
}
