@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

:root {
  --color-dark-blue: rgb(0, 151, 240);
  --color-grey: rgb(249, 249, 249);
  --color-light-blue: rgba(0, 152, 240, 0.42);
  --color-light-grey: rgba(68, 68, 68, 0.805);
  --color-dark-grey: rgba(212, 209, 209, 0.398);
  --color-dark-grey-transparent: rgba(68, 68, 68, 0.711);
  --color-black: #000;
  --color-instagram-red: rgb(255, 0, 118);
  --color-white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}

input {
  outline: none;
}

.hide {
  display: none;
}

.error-message {
  color: red;
  text-align: center;
  font-size: 1.6rem;
}

button:disabled {
  cursor: default;
}

li {
  list-style: none;
}
